extends layout 

block page_title 
  title Este es el título de la página

block greeting 
  h1 ¡Hola mundo! 

block software_engineer
  p ¡Pronto voy a ser una ingeniera de software!
  img(src="/images/earth.jpg" alt="El mundo" title="El mundo")